<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="app" class="todo-container">
        <h1>To-Do List</h1>
        <input type="text" v-model="newTodo" placeholder="Add new todo...">
        <button @click="addTodo">Add</button>
        <ul id="todo-list">
            <li class="todo-item" v-for="(todo, index) in todos" :key="index">
                <span v-if="!todo.done">{{ todo.text }}</span>
                <del v-else>{{ todo.text }}</del>
                <span class="delete" @click="deleteTodo(index)"><i class="fas fa-times"></i></span>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/js/script.js"></script>
</body>
</html>






